.page-container {
  margin: 0 auto;
  max-width: 1440px; }

.page-content-container {
  display: flex;
  justify-content: center;
  padding: 10.4rem 16rem;
  position: relative; }
  .page-content-container .text-right {
    text-align: right; }
  .page-content-container .text-center {
    text-align: center; }
  .page-content-container .ant-btn-link {
    text-decoration: underline;
    padding: 0; }
    .page-content-container .ant-btn-link.top-link {
      font-size: 1.4rem;
      line-height: 2.2rem; }
    .page-content-container .ant-btn-link.bottom-link {
      font-size: 1.2rem;
      line-height: 2rem;
      height: auto; }
    .page-content-container .ant-btn-link.link {
      color: #486F90; }
  .page-content-container .text-container h2 {
    font-size: 2rem;
    line-height: 2.8rem;
    color: #fff; }
  .page-content-container .text-container h1 {
    font-size: 3.8rem;
    line-height: 4.6rem;
    color: #fff;
    margin-bottom: 1.6rem; }
  .page-content-container .text-container p {
    font-size: 2rem;
    line-height: 2.8rem;
    color: #fff; }
  .page-content-container .form-container h2 {
    color: #003457;
    line-height: 2.8rem;
    font-size: 2rem; }
  .page-content-container .form-container p {
    font-size: 1.6rem;
    line-height: 2.4rem; }
  .page-content-container .form-container .ant-btn-primary[type=submit] {
    display: flex;
    width: 100%;
    justify-content: center; }
  .page-content-container .form-container .form__group {
    margin-bottom: .8rem; }
  .page-content-container .form-container .notch-content__header {
    margin-bottom: 2.4rem; }
  .page-content-container .form-container .form__row {
    display: flex; }
    .page-content-container .form-container .form__row__item {
      width: 100%; }
      .page-content-container .form-container .form__row__item:not(:last-child) {
        margin-right: .8rem; }
  .page-content-container .ant-alert {
    margin-bottom: 2.4rem; }
    .page-content-container .ant-alert .ant-alert-content .ant-alert-message {
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-weight: 600;
      margin-bottom: .4rem; }
    .page-content-container .ant-alert .ant-alert-content .ant-alert-description {
      line-height: 2.2rem; }
    .page-content-container .ant-alert.ant-alert-error .ant-alert-close-icon .anticon-close {
      color: #86291B; }
    .page-content-container .ant-alert.ant-alert-error .ant-alert-content .ant-alert-message {
      color: #86291B; }
    .page-content-container .ant-alert.ant-alert-error .ant-alert-content .ant-alert-description {
      color: #86291B; }
    .page-content-container .ant-alert.ant-alert-success .ant-alert-content .ant-alert-message {
      color: #575A00; }
    .page-content-container .ant-alert.ant-alert-success .ant-alert-content .ant-alert-description {
      color: #575A00; }
    .page-content-container .ant-alert.ant-alert-info .ant-alert-content .ant-alert-message {
      color: #005673; }
    .page-content-container .ant-alert.ant-alert-info .ant-alert-content .ant-alert-description {
      color: #005673; }

.login .social-link {
  display: inline-block;
  width: 100%; }
  .login .social-link .social-button {
    display: flex;
    align-items: center;
    color: #fff;
    border-radius: 2px; }
    .login .social-link .social-button .idp-icon {
      padding: .1rem; }
    .login .social-link .social-button .idp-text {
      text-align: center;
      width: 100%; }
  .login .social-link .google {
    background: #4285F4; }
  .login .social-link .orcid {
    background: #A6CE39;
    height: 40px; }
    .login .social-link .orcid .idp-icon {
      padding: 0 0 0 .8rem; }

.register input.error {
  border-color: #C54B38; }

.register .input-error {
  font-size: 1.2rem;
  color: #C54B38; }

.reset-password .sub-text {
  font-size: 1.2rem;
  color: #7E8DA0; }

.link-account h3 {
  font-size: 1.4rem;
  color: #18486B; }

.link-account .email {
  font-weight: 600; }
