//COLORS
$color-primary: #486f90;

$color-white: #fff;
$color-black: #000;

$color-accent: #FFD261;
$color-yellow: #ffb600;

$color-blue-1: #31BDF2;
$color-blue-2: #18486B;

$color-blue-light-1: #B5C6D8;
$color-blue-light-2: #90A9C1;

$color-grey-light-1: #f8f8fb;
$color-grey-light-2: #dcdde1;
$color-grey-light-3: #e7e7e7;
$color-grey-light-4: #d8e1eb;

//FONT
$default-font-size: 1.2rem;