/*Universal reset: remove browser margin + padding*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*ROOT font-size is declared on html*/
html {
  /*Defines what 1rem is.*/
  font-size: 62.5%; /*Do not set to pixel otherwise it prevents user to use his personal browser settings*/
  /*
    Percentage is calculated based on the default of 16px -> 10px / 16px = 62.5%
    We target a font-size of 10px for easy rem calculation (base 10)
  */
}

/*Anything related to font should go in body tag css*/
body {
  box-sizing: border-box; /*means border + padding width no longer added to total width/height*/

  main {
    background: url('/auth/resources/gtaiy/login/cqdg/img/pills_bg.svg') no-repeat,linear-gradient(268deg,#28aae2,#006095 98%);
    min-height: 79.5rem;
    display: flex;
    align-items: center;
    color: $color-white;
  }

  input {
    &[type="checkbox"] {
      color: $color-blue-light-1;
    }

    &[type="text"], &[type="password"] {
      border: 1px solid $color-blue-light-2;
      box-sizing: border-box;
      border-radius: 2px;
      color: $color-blue-light-2;
      height: 32px;
    }

    &[type="text"]:focus {
      border-color:$color-blue-1;
    }

    &[aria-invalid='true'] {
      border: 1px solid #C54B38;

      &:focus {
        outline: none;
        border: 2px solid #C54B38;
      }

      & + span {
        color: #C54B38;
      }
    }
  }

  label {
    color: $color-blue-2;
  }

  a {
    &:link,
    &:visited {
      color:$color-primary;
      text-decoration: none;
      font-size: $default-font-size;
    }
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}