.login {
    .social-link {
        display: inline-block;
        width: 100%;
        .social-button {
            display: flex;
            align-items: center;
            background: #4285F4;
            color:  $white;
            border-radius: 2px;

            .idp-icon {
                padding: .1rem;
            }
            .idp-text {
                text-align: center;
                width: 100%;
            }
        }
    }
}