.alert {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding: 0.9rem 1.6rem;
  margin-bottom: 2rem;

  &--error {
    background: #F1D4CF;
    color: #86291B;
    border-radius: 2px;
    box-shadow: 0 0.4rem 1.2rem rgba(47, 94, 125, 0.18);

    & > .close {
      background: #C54B38;
      color: #F1D4CF;
    }
  }
}

/*.input-error {
  color: #C54B38;
}*/

.close {
  border: none;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
}