.btn {
  background: $color-grey-light-1;
  border: 1px solid $color-grey-light-4;
  height: 3.2rem;
  padding: 0 0.7rem;
  border-radius: 2px;
  font-size: 1.4rem;
  line-height: 2.2rem;
  white-space: nowrap;

  &:hover{
    text-decoration: none;
    cursor: pointer;
  }

  &--text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: none;
    background-color: transparent;

    svg {
      margin-right: 0.6rem;
    }
  }
}